/* App.css */

:root {
  --mainBlue: #2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ffa400;
}

body {
  font-family: Roboto, Helvetica, sans-serif;
  /* font-family: "Raleway", sans-serif !important;
  font-family: "Anton", sans-serif !important; */
  /* background: var(--mainWhite) !important; */
  background: #FFF !important;
  color: var(--mainDark) !important;
  overflow-x: hidden;
}

.text-title {
  font-family: Roboto, Helvetica, sans-serif;
  /* font-family: "Anton", cursive; */
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-blue {
  color: var(--mainBlue);
}

.text-bright {
  color: var(--lightBlue);
}

.btn-black:hover {
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}

.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainYellow);
}

.order-card {
  color: black;
}

.order-card:hover {
  color: black;
  text-decoration: none;
}

.star-rating-button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 25px;
}

.star-rating-on {
  color: #FEC902;
}

.star-rating-off {
  color: #ccc;
}

.wrapper {
  padding: 5px 20px;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #FFF;
}

::-webkit-scrollbar-thumb {
  background: #FF3E6C;
}



.header {
  position: fixed;
  top: 0;
  z-index: 11;
  width: 100%;
  background-color: #FFFFFF;
}

.progress-container {
  width: 100%;
  height: 5px;
  background: #FFFFFF;
}

.progress-bar {
  height: 5px;
  background: #FF3E6C !important;
  width: 0%;
}