/* App.css */

:root {
  --mainBlue: #2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ffa400;
}

body {
  font-family: Roboto, Helvetica, sans-serif;
  /* font-family: "Raleway", sans-serif !important;
  font-family: "Anton", sans-serif !important; */
  /* background: var(--mainWhite) !important; */
  background: #f3f0eb !important;
  color: var(--mainDark) !important;
}

.text-title {
  font-family: Roboto, Helvetica, sans-serif;
  /* font-family: "Anton", cursive; */
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-blue {
  color: var(--mainBlue);
}

.text-bright {
  color: var(--lightBlue);
}

.btn-black {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainDark);
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainDark) !important;
}

.btn-black:hover {
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}

.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainYellow);
}

.order-card {
  color: black;
}

.order-card:hover {
  color: black;
  text-decoration: none;
}

.star-rating-button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 25px;
}

.star-rating-on {
  color: #000;
}

.star-rating-off {
  color: #ccc;
}

.wrapper {
  padding: 5px 20px;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #f3f0eb;
}

::-webkit-scrollbar-thumb {
  background: #053645;
}