body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.btn-primary:focus {
  box-shadow: none !important;
}

input[type='checkbox'] {
  accent-color: #053645;
}

.css-df17o1 {
  position: fixed !important;
}

.tx-navbar .dropdown-toggle::after {
  position: absolute;
  top: 17.5px;
  right: -4px;
}

.HomeButton {
  text-decoration: none;
  border-bottom: 2px solid transparent;
}

.HomeButton:hover {
  text-decoration: none;
  border-bottom: 2px solid #053645;
  transition: .3s;
}

.tx-dropdown {
  border-radius: 0px !important;
  border-bottom: 2px solid transparent !important;
}

.tx-dropdown:hover {
  border-bottom: 2px solid #053645 !important;
  transition: .3s;
}

.tx-dropdown:focus {
  border-bottom: 2px solid #053645 !important;
  box-shadow: none !important;
}

.tx-dropdown-menu {
  padding: 0.5rem 1.5rem !important;
  border: none !important;
  position: absolute !important;
  top: 0 !important;
  right: 0;
  background-color: #053645 !important;
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.05) !important;
}

.tx-dropdown-menu .dropdown-item {
  margin: 2.5px 0 0 0;
  padding: 2.5px 2.5px !important;
  color: #ffffff !important;
  border-bottom: 2px solid transparent !important;
}

.tx-dropdown-menu .dropdown-item:hover,
.tx-dropdown-menu .dropdown-item:active,
.tx-dropdown-menu .dropdown-item:focus {
  color: rgb(5, 54, 69) !important;
  background-color: #053645 !important;
  color: #ffffff !important;
  border-bottom: 2px solid #ffffff !important;
  transition: .3s;
}

.product-card {
  color: #053645;
  backdrop-filter: blur(8px);
  background: rgba(243, 243, 243, 0.24);
}

.product-card:hover {
  color: #053645;
  text-decoration: none;
}

.tx-product-card {
  padding: 0.75rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: rgba(243, 243, 243, 0.24);
  backdrop-filter: 20px;
  box-shadow: rgba(0, 0, 0, 0.05) 1px 1px 10px 0px;
  transition: 0.5s;
}

.tx-product-card:hover {
  transform: translateY(-10px);
  box-shadow: #727575 1px 1px 5px 0px !important;
}

.add-to-cart-button {
  border: none;
  padding: 10px 0;
  background-color: #053645;
  color: #f3f0eb;
}

.add-to-cart-button:focus {
  outline: none;
}

.tx-wishlist-product-card {
  display: flex;
  flex-direction: column;
  background: rgba(243, 243, 243, 0.24);
  backdrop-filter: 20px;
  box-shadow: rgba(0, 0, 0, 0.05) 1px 1px 10px 0px;
  transition: 0.5s;
}

.tx-wishlist-product-card:hover {
  transform: translateY(-15px);
  box-shadow: #727575 1px 1px 5px 0px !important;
}

.wishlist-card-trash-button {
  background-color: #EC5757;
  color: white !important;
  border-radius: 0.25rem;
}

.RateProduct-Button {
  border: none !important;
  background-color: #053645 !important;
  color: #f3f0eb !important;
}

.RateProduct-Button:focus {
  outline: none;
}

.placedOrder-Card {
  width: 325px !important;
  background: rgba(243, 243, 243, 0.24) !important;
  backdrop-filter: 20px !important;
  box-shadow: rgba(0, 0, 0, 0.05) 1px 1px 10px 0px !important;
  transition: 0.5s;
}

.placedOrder-Card:hover {
  transform: translateY(-15px);
  box-shadow: #727575 1px 1px 5px 0px !important;
}

.shipping-address-area {
  color: #053645 !important;
  backdrop-filter: blur(8px) !important;
  background: rgba(243, 243, 243, 0.24) !important;
  border: none !important;
  box-shadow: rgba(0, 0, 0, 0.05) 1px 1px 10px 0px !important;
}

.add-new-address-button {
  border: none !important;
  background-color: #053645 !important;
  color: #f3f0eb !important;
}

.container>iframe {
  margin: 20px 0 0 0;
  padding: 1.25rem !important;
  width: 320px !important;
  height: 275px;
  border-radius: 0.25rem;
  border: none !important;
  color: #053645 !important;
  backdrop-filter: blur(8px) !important;
  background: rgba(243, 243, 243, 0.24) !important;
  box-shadow: rgba(0, 0, 0, 0.05) 1px 1px 10px 0px !important;
}

.add-new-card-button {
  border: none !important;
  background-color: #053645 !important;
  color: #f3f0eb !important;
}

.order-summary-card {
  color: #053645 !important;
  backdrop-filter: blur(8px) !important;
  background: rgba(243, 243, 243, 0.24) !important;
  border: none !important;
  box-shadow: rgba(0, 0, 0, 0.05) 1px 1px 10px 0px !important;
}

.billing-address-form {
  color: #053645 !important;
  backdrop-filter: blur(8px) !important;
  background: rgba(243, 243, 243, 0.24) !important;
  border: none !important;
  box-shadow: rgba(0, 0, 0, 0.05) 1px 1px 10px 0px !important;
}

.billing-address-label {
  color: #053645;
  font-weight: 600;
}

.billing-address-input {
  background: transparent;
  border: 1.5px solid #053645;
  border-radius: 2.5px;
  transition: 0.3s;
}

.billing-address-input:focus {
  backdrop-filter: blur(20px) !important;
  box-shadow: #727575 0px 0px 3px 0px !important;
  outline: none;
}

.billing-address-submit-button {
  border: none !important;
  background-color: #053645 !important;
  color: #f3f0eb !important;
}

.modal-content {
  background-color: #f3f0eb !important;
}

.login-form {
  width: 300px;
}

.login-signup-input {
  background: transparent !important;
  border: 1.5px solid #053645 !important;
  border-radius: 2.5px !important;
  transition: 0.3s !important;
  padding: 17.5px 7.5px !important;
  height: 30px !important;
  font-size: small !important;
}

.login-signup-input:focus {
  backdrop-filter: blur(20px) !important;
  box-shadow: #727575 0px 0px 3px 0px !important;
  outline: none;
}

.addproduct-input,
.editproduct-input {
  background: transparent !important;
  border: 1.5px solid #053645 !important;
  border-radius: 2.5px !important;
  transition: 0.3s !important;
  padding: 17.5px 7.5px !important;
  height: 45px !important;
  font-size: small !important;
}

.addproduct-textarea,
.editproduct-textarea {
  background: transparent !important;
  border: 1.5px solid #053645 !important;
  border-radius: 2.5px !important;
  transition: 0.3s !important;
  padding: 17.5px 7.5px !important;
  height: 100px !important;
  font-size: small !important;
}

.addproduct-input:focus,
.addproduct-textarea:focus,
.editproduct-input:focus,
.editproduct-textarea:focus {
  backdrop-filter: blur(20px) !important;
  box-shadow: #727575 0px 0px 3px 0px !important;
  outline: none;
  border: 1.5px solid #053645 !important;
}

input[type=file]::file-selector-button {
  border: none;
  padding: 0.375rem 0.75rem;
  border-radius: .2em;
  color: #f3f0eb;
  position: relative;
  top: -12px;
  font-weight: 600;
  background-color: #053645;
  transition: 1s;
}

.addcategories-input {
  background: transparent !important;
  border: 1.5px solid #053645 !important;
  border-radius: 2.5px !important;
  transition: 0.3s !important;
  padding: 17.5px 7.5px !important;
  height: 45px !important;
  font-size: small !important;
  font-weight: 600;
}

.addcategories-input:focus {
  backdrop-filter: blur(20px) !important;
  box-shadow: #727575 0px 0px 3px 0px !important;
  outline: none;
}

.userlist-input {
  background: transparent !important;
  border: 1.5px solid #053645 !important;
  border-radius: 2.5px !important;
  transition: 0.3s !important;
  padding: 17.5px 7.5px !important;
  height: 45px !important;
  font-size: small !important;
  font-weight: 600;
}

.userlist-input:focus {
  backdrop-filter: blur(20px) !important;
  box-shadow: #727575 0px 0px 3px 0px !important;
  outline: none;
}

.editcategory-input,
.editusers-input {
  background: transparent !important;
  border: 1.5px solid #053645 !important;
  border-radius: 2.5px !important;
  transition: 0.3s !important;
  padding: 17.5px 7.5px !important;
  height: 45px !important;
  font-size: small !important;
  font-weight: 600;
}

.editcategory-input:focus,
.editusers-input:focus {
  backdrop-filter: blur(20px) !important;
  box-shadow: #727575 0px 0px 3px 0px !important;
  outline: none;
}

.star-rating-on {
  color: #053645;
}

.review-input {
  background: transparent !important;
  border: 1.5px solid #053645 !important;
  border-radius: 2.5px !important;
  transition: 0.3s !important;
  padding: 17.5px 7.5px !important;
  height: 45px !important;
  font-size: small !important;
  font-weight: 600;
}

.review-input:focus {
  backdrop-filter: blur(20px) !important;
  box-shadow: #727575 0px 0px 3px 0px !important;
  outline: none;
}

.review-textarea {
  background: transparent !important;
  border: 1.5px solid #053645 !important;
  border-radius: 2.5px !important;
  transition: 0.3s !important;
  padding: 17.5px 7.5px !important;
  height: 100px !important;
  font-size: small !important;
}

.review-textarea:focus {
  backdrop-filter: blur(20px) !important;
  box-shadow: #727575 0px 0px 3px 0px !important;
  outline: none;
}